// colors
$purple-color: #9356DC;
$pink-color: #FF79DA;
$grey-color:#EAEAEA;
$white-color:#fff;
$shadow-nav:#888;
$light-grey:#F6F6F6;
$black-color:#000000;
$light-green:#99E2D0;
$dark-green:#008766;
$light-dark:#353535;
$aquamarine:aquamarine;

